* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root{
  --white: #ffffff;
  --black-text: #000000;
  --light-black: #333333;
  --light-white: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
  font-family: poppins, sans-serif;
  box-sizing: border-box;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* Navigation Bar */

.navbar{
  background-color: #ffffff;
  padding-top: 24px;
}

.nav-item{
  margin: 0 40px 0 0;
  font-size: 20px;
}

.nav-item a{
  color: #000000 !important;
}

.nav-item a:hover{
  color: #545454 !important;
}

.logo {
  margin-left: 80px;
}

@media (max-width: 768px) {
  .logo {
    margin-left: 0;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* Home Content */

.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}


.home-text-heading{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-weight: 100;
}

.home-para{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin: 16px 0;
}

@media screen and (max-width: 768px) {
  /* Adjust the max-width value as needed */

  .home-text{
    margin-top: 150px;
    margin-bottom: 200px;
    padding-top: 0;
  }

  .home-section {
    flex-direction: column; /* Stack elements vertically on small screens */
    height: auto; 
    padding: 20px; /* Add some spacing around content */
  }

  .home-text-heading {
    font-size: 50px; /* Decrease the font size for smaller screens */
    text-align: center; /* Center-align the text */
    margin-bottom: 15px; 
  }

  .home-para {
    font-size: 18px; /* Decrease the font size for smaller screens */
    text-align: center; /* Center-align the text */
    margin: 10px 0; /* Add spacing between elements */
  }

  .cntc-cont {
    text-align: center; /* Center-align the button */
  }

  #contact-btn {
    font-size: 18px; /* Adjust button font size for smaller screens */
  }

  .cntc{
    border: 1.5px solid var(--black-text);
  }

}




/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* Button */
.cntc-cont{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cntc {
  background-color: var(--white);
  color: var(--black-text);
  padding: 0.5em 2.5em;
  cursor: pointer;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 500;
  transition: 0.5s;
}

.cntc:hover{
  background-color: var(--black-text);
  color: var(--white);
}


/*----------------------------------------------------------------------------------------------------------------------------------------------*/

/* About Us section */

.about-us{
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-picture{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-picture img{
  width: 600px;
  height: auto;
  object-fit: contain;
}

.about-text{
  width: 50%;
}

.about-title{
  font-size: 40px;
  margin-left: 40px;
  padding-bottom: 20px;
  font-weight: 700;
}

.more-text{
  display: none;
}

.about-paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  font-size: 18px;
  text-align: justify;
}

.more-text {
  display: none;
  margin-top: 10px;
  font-size: 18px;
  transition: opacity 0.3s ease-in-out; /* Add a smooth opacity transition */
}

.read-more-button-div{
  margin-left: 40px;
}

.read-more-button {
  background-color: var(--white);
  color: var(--light-black);
  border: none;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}

.read-more-button:hover{
  color: var(--black-text);
  border: none;
}

@media screen and (max-width: 768px) {
 
  .about-title{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 0;
  }
  .about-text{
    width: 100%;
  }

  .about-paragraph {
    max-width: 100%; /* Expand to full width on small screens */
    padding: 20px 40px 10px 40px; /* Reduce padding for small screens */
    color: #425466;
  }

  .about-paragraph p{
    margin: 0;
  }
  .read-more-button-div{
    margin-left: 40px;
  }

  .about-picture img{
    display: none;
  }

  .about-picture{
    display: none;
  }
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* WHY US */

/* Style for larger screens */
.whyus {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 100px 50px 100px;
  flex-wrap: wrap;
}

.whyus-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  box-sizing: border-box;
}

.whyus-letter {
  font-size: 50px;
  font-weight: 300;
  font-weight: 700;
}


.whyus-res {
  display: flex;
  justify-content: center;
  align-items: center;
}

.whyus-box {
  flex: 1;
  width: 300px;
  height: 250px;
  padding: 30px 15px;
  margin: 30px;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 20%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whyus-box h2{
  font-size: 25px;
  font-weight: bold;
}

.whyus-box p{
  padding-top: 15px;
  font-size: 16px;
  text-align: justify;
  color: #425466;
}

/* Responsive styles for smaller screens */
@media screen and (max-width: 1216px) and (min-width: 769px){
  .whyus {
    padding: 50px 20px 0 20px;
  }

  .whyus-text{
    width: 100%;
    padding: 0;
    border-right: none; /* Remove the right border on smaller screens */
  }

  .whyus-res {
    margin: 20px 0;
    flex-direction: column; /* Stack boxes in a column on smaller screens */
    align-items: center; /* Center align boxes on smaller screens */
  }

  .whyus-box {
    width: 75%; /* Full width for boxes on smaller screens */
    margin: 10px 5px; /* Adjust spacing as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .whyus-box h2 {
    font-size: 20px; /* Reduce font size for smaller screens */
  }

  .whyus-letter {
    font-size: 30px; /* Reduce font size for smaller screens */
  }
}

@media screen and (max-width: 768px) {
  .whyus {
    margin-top: 40px;
    padding: 50px 20px 0 20px;
  }

  .whyus-text{
    width: 100%;
    padding: 0;
    border-right: none; /* Remove the right border on smaller screens */
  }

  .whyus-res {
    margin: 20px 0;
    flex-direction: column; /* Stack boxes in a column on smaller screens */
    align-items: center; /* Center align boxes on smaller screens */
  }

  .whyus-box {
    width: 75%; /* Full width for boxes on smaller screens */
    margin: 10px 5px; /* Adjust spacing as needed */
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  .whyus-box h2 {
    font-size: 20px; /* Reduce font size for smaller screens */
  }

  .whyus-letter {
    font-size: 29px;
    margin-bottom: 0;
  }
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* HOW WE DESIGN */


.how-we-design{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.how-we-design-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
}

.how-we-box{
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  height: 320px;
  width: 480px;
  gap: 0;
  font-size: 17px;
  justify-content: center;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 20%);
}

.how-we-title-h1{
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 0;
}

.how-we-qoute{
  margin: 0;
  font-style: italic;
  color: #333333;
  font-size: 14px;
}

.how-we-para{
  font-size: 16px;
  margin-bottom: 0;
}

.how-we-box-des{
  margin-top: 10px;
  text-align: justify;
  color: #425466;
}

.des2{
  padding-top: 20px;
}

.how-we-box-title h2{
  font-size: 32px;
  margin: 0;
}

.box01, .box04{
  background-color: #F5F5F5;
}

.pillar-top{
  margin-top: 0;
}

.pillar{
  margin: 5px 0;
}

/* Mobile-first approach */
@media (max-width: 950px) and (min-width: 461px){
  .how-we-design{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .how-we-design-container {
    grid-template-columns: 1fr; /* Change to a single column layout for mobile */
    margin: 0 40px;
  }
  
  .how-we-box {
    height: 320px; /* Adjust height to fit content */
    padding: 20px; /* Adjust padding for mobile */
    box-shadow: none;
  }
  
  .how-we-title-h1 {
    font-size: 50px; /* Adjust font size for mobile */
  }
  
  .how-we-qoute {
    font-size: 12px; /* Adjust font size for mobile */
  }
  
  .how-we-box-title h2 {
    font-size: 26px; /* Adjust font size for mobile */
  }

  .box01, .box03{
    background-color: #f3f3f3;
  }

  .box02, .box04{
    background-color: #fff;
  }

  .box04{
    box-shadow: 0px 6px 4px 0px rgba(0,0,0,0.2);
  }

}

@media (max-width: 460px){

  .how-we-design-container {
    grid-template-columns: 1fr; /* Change to a single column layout for mobile */
    margin-bottom: 30px;
  }

  .how-we-design{
    height: auto;
    display: flex;
    justify-content: center;
  }

  .how-we-box{
    width: 100%;
    box-shadow: none;
    height: 400px;
  }

  .box04{
    height: 500px;
  }

  .box01, .box03{
    background-color: #f3f3f3;
  }

  .box02, .box04{
    background-color: #fff;
  }

  .box04{
    box-shadow: 0px 6px 4px 0px rgba(0,0,0,0.2);
  }

}


/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

.pricing{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.pricing-text{
  font-size: 50px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing-content{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 100px;
}

.pricing-box{
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  height: 586px;
  width: 350px;
  border-radius: 20px;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 20%);
}

.pricing-box:hover{
  transform: scale(1.05);
}

.title-pricing{
  width: 100%;
  padding: 10px 0;
  font-size: 1.5em;
  font-weight: lighter;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}


.view{
  display: block;
  width: 100%;
  padding: 30px 0 20px;
}

.cost{
  display: flex;
  justify-content:center;
  flex-direction: row;
  margin-top: 10px;
}

.amount{
  font-size: 2.8em;
  font-weight: bolder;
}

.detail{
  margin: auto 0 auto 5px;
  width: 70px;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 15px;
}

.description{
  margin: 30px auto;
  font-size: 1em;
}

.pricing-li{
  margin-top: 10px;
  list-style-type: disc;
}


.button-pricing-btn{
  height: 50px;
  width: 250px;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.5px;
  border: 2px solid var(--black-text);
  border-radius: 50px;
  background-color: var(--white);
  color: var(--black-text);
}
.button-pricing{
  margin: 0 auto 30px;
}

.button-pricing-btn:hover{
  transition: 0.5s;
  background-color: var(--black-text);
  color: var(--white);
}

/* Responsiveness:Start */
@media screen and (max-width:970px) {

  .pricing-text{
    font-size: 35px;
  }

  .pricing-content{
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 50px 0;
  }
  .pricing-box{
      margin-top: 25px;
      width: 300px;
  }
}

/* create your own package */

.create-own-section{
  padding-bottom: 50px;
}

.package-container {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
}

.package-head {
  text-align: center;
}

.package-list1 {
  padding: 30px 0 0 40px;
}

.package-list-item {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.pkg-total{
  padding-left: 40px;
}

input[type="number"] {
  width: 40px;
  padding: 3px;
  text-align: center;
  border: none;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.package-btn {
  display: block;
  height: 50px;
  width: 250px;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.5px;
  border: 2px solid var(--black-text);
  border-radius: 50px;
  background-color: var(--white);
  color: var(--black-text);
  margin: 30px auto 30px;
}

.package-btn:hover {
  transition: 0.5s;
  background-color: var(--black-text);
  color: var(--white);
}

.pkg-btn{
  border: none;
  background-color: var(--light-white);
}

/* remove arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Media query for smaller screens */
@media (max-width: 700px) {

  .create-own-section{
    padding-bottom: 20px;
  }

  .package-container {
    padding: 10px 10px 10px 0;
    margin: 10px;
  }

  .package-list-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .input-container {
    margin-top: 5px;
  }
}


/* ---------------------------------------------------------------------------------------------------------------------------------------------- */


/* Portfolio section */

.portfolio-text {

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;
  margin-top: 60px;
  margin-bottom: 30px;
}

.portfolio-container{
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding-bottom: 40px;
}

.photo-gallery{
  display: flex;
  gap: 20px;
}

.columns{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.photo img{
  width: 100%;
  height: 100%;
  padding-bottom: 5px;
  border-radius: 5px;
  object-fit: cover;
}

@media(max-width:768px){
  .photo-gallery{
    flex-direction: column;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------- */

/* contact form */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

/* Popup styles */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  z-index: 1001;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 720px;
  text-align: center;
}

.popup-content {
  text-align: left;
}

/* logo in contact */

.logo-cntc{
  padding: 10px 0;
}

/* Close button styles */
.close {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #555;
}

.close:hover {
  color: #333;
}

/* Form label styles */
label {
  display: flex;
  margin-bottom: 10px;
  font-weight: 600;
  color: #333;
}

.input-half {
  width: 100%; /* Adjust the width as needed */
  display: inline-block;
  margin-right: 4%; /* Adjust spacing */
}

/* Style for file input and file name display */
.attach-file-label {
  background-color: var(--white);
  color: var(--black-text);
  padding: 10px 20px;
  border-radius: 5px solid var(--black-text);
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.attach-file-label:hover {
  background-color: var(--black-text);
}

/* Style for displaying the uploaded file name */
.file-name {
  display: flex;
  color: #333;
  font-size: 14px;
  max-height: 35px;
  overflow: hidden;
}

/* Input and textarea styles */
input[type="text"],
input[type="email"],
textarea,
.button-submit {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
}

/* Input focus styles */
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

/* Submit button styles */
.button-submit {
  background-color: var(--light-black);
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

.button-submit:hover {
  background-color: var(--black-text);
}

/* Attach file input styles */
input[type="file"] {
  display: none;
}

.attach-file-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-black);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  margin-top: 10px;
}

.attach-file-label:hover {
  background-color: var(--black-text);
}

/* Responsiveness */
@media screen and (max-width: 600px) {
  .input-half {
      width: 100%;
  }
}

input[type="text"],
input[type="email"],
textarea,
.button-submit{
  padding: 5px;
  margin-bottom: 10px;
}

/* Add styles for the popup container */

.popup{
  padding: 0;
}

/* New styles for the content container */
.content-container {
  display: flex;
  flex-direction: row;
}

/* Styles for the slider */
.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; /* Adjust the width as needed */
  max-width: 400px; /* Set a maximum width for the slider */
  background-color: var(--white);
  box-sizing: border-box;
  overflow: hidden; /* Hide overflow content */
  margin-bottom: 95px;
}

.slider-image {
  max-width: 100%;
  height: auto;
  display: none; /* Hide the images by default */
  border-radius: 10px;
}

/* Styles for the contact form */
.contact-form {
  width: 50%; /* Adjust the width as needed */
  padding: 30px;
  box-sizing: border-box;
  text-align: left;
}

/* Additional styles for responsiveness */
@media screen and (max-width: 600px) {
  .content-container {
    flex-direction: column; /* Stack elements on small screens */
  }

  .slider {
    display: none;
    width: 100%; /* Make the slider full-width on mobile devices */
  }

  .contact-form {
    width: 100%; /* Make the contact form full-width on mobile devices */
  }
}


.cntc-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}



 /* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */

  /* Certifictae section */

.certificate{
  margin-top: 30px;
  margin-bottom: 30px
}

 .certificate-text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;
 }

 .certificate-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
 }

 .certificate-img{
  height: auto;
  width: 300px;
  margin: 15px 30px;
 }

 @media screen and (max-width: 1024px ) {

  .certificate-text{
    font-size: 35px;
  }
  .certificate-container{
    flex-direction: column;
  }
 }


 /* ----------------------------------------------------------------------------------------------------------------------------------------------------------------- */

 /* FAQ */

 .faq{
  background-color: var(--white);
 }

 .faq-head{
  font-size: 40px;
  font-weight: 700;
 }

 .faq-space{
  padding-top: 30px;
 }

 .faq .faq-list {
  padding: 0 100px;
}

.faq .faq-list ul {
  padding: 0;
  list-style: none;
}

.faq .faq-list li+li {
  margin-top: 15px;
}

.faq .faq-list li {
  padding: 20px;
  background: var(--light-white);
  border-radius: 4px;
  position: relative;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #333333;
}

.faq .faq-list .icon-show,
.faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list a.collapsed {
  color: var(--light-black);
  transition: 0.3s;
}

.faq .faq-list a.collapsed:hover {
  color: #333333;
}

.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .faq-list a.collapsed .icon-close {
  display: none;
}

.faq-text-btm{
  background-color: var(--light-white);
}

.faq-extd{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.faq-extd-des{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.collapse{
  padding-left: 30px;
}

@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }

  .faq-head{
    font-size: 30px;
    font-weight: 600;
  }
}


/* footer */

.footer{
  margin-top: 30px;
  padding: 80px 0;
  background-color: var(--light-white);
}

.footer-head{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 30px;
}

.footer-text{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em; 
  margin-bottom: 30px; 
}

@media screen and (max-width: 768px) {

  .footer{
    text-align: center;
  }

  .footer-text{
    padding: 0 15px;
  }
  
}